{#{% extends "account/base.html" %}#}
{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}


<div class="row m-3">
<form class="form form-signin col-md-4 offset-md-4" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <label for="inputEmail" class="sr-only">Email address</label>

            {{ form.login }}
            {#            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">#}

            <label for="inputPassword" class="sr-only">Password</label>
            {{ form.password }}
            {#            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">#}
            {% if form.redirect_field_value %}
                <input type="hidden" name="{{ form.redirect_field_name }}" value="{{ form.redirect_field_value }}"/>
            {% endif %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #86c441; border-color: #86c441">Sign in
            </button>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

</form>
</div>

    {% if socialaccount_providers %}
<div class="socialaccount_ballot">
    Or you can use
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>


</div>

{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<p>{% blocktrans %}Or please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

{% endblock %}
