{% load static %}
<div class="row card col-md-8 m-2 p-2">
    {% if user.is_authenticated %}
        {% if not post.comments.all %}
            <div class="row m-2">No comments added yet...
                But
                you
                can
                be
                first!
            </div>
        {% endif %}
        <form method="post" action="{% url 'news:add_comment' post.slug %}" class="form-row align-items-center">
            {% csrf_token %}
            <div class="col-md-10">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-success" style="background-color: #86c441; border-color: #86c441">
                Add comment
            </button>
        </form>
    {% else %}
        <div class="row m-2"><p>
            Please, <a href="{% url 'account_login' %}"> login </a> or <a href="{% url 'account_signup' %}">sign up </a>
            to add a comment</p></div>
    {% endif %}

    {% if post.comments.all %}
        {% for comment in page_obj %}
            <div class="card m-1">
                <div class="media m-2">
                    {% if comment.user.image %}
                        <img src="{{ comment.user.image.url }}"
                             class="mr-3 img img-thumbnail img-responsive rounded-circle"
                             style="width: 60px">
                    {% else %}
                        <img src="{% static '/img/user_empty_photo.jpg' %}"
                             class="mr-3 img img-thumbnail img-responsive rounded-circle"
                             style="width: 60px">
                    {% endif %}
                    <div class="media-body">
                        <div class="mb-1 mt-1">
                            {{ comment.text }}
                            <br>
                            <small>
                                {% if comment.user.firstname and comment.user.lastname %}{{ comment.user.firstname }}
                                    {{ comment.user.lastname }}{% else %}{{ comment.user }}{% endif %}
                                - {{ comment.created }}
                            </small>

                        </div>

                        {% if request.user.is_authenticated %}

                            <a class="btn btn-outline-success" data-toggle="collapse"
                               href="#collapseForm{{ comment.id }}" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                Reply
                            </a>
                            <div class="collapse" id="collapseForm{{ comment.id }}">
                                <div class="card card-body">

                                    <form method="post" action="{% url 'news:add_comment' post.slug comment.id %}"
                                          class="form-row align-items-center">
                                        {% csrf_token %}
                                        <div class="col-md-8">
                                            {{ form }}
                                        </div>
                                        <button type="submit" class="btn btn-success"
                                                style="background-color: #86c441; border-color: #86c441">
                                            Add comment
                                        </button>
                                    </form>

                                </div>
                            </div>
                        {% endif %}



                        {% if comment.user == request.user %}
                            <a class="btn btn-outline-success" data-toggle="collapse"
                               href="#collapseForm{{ comment.id }}{{ request.user.id }}" role="button"
                               aria-expanded="false" aria-controls="collapseExample">
                                Reply
                            </a>
                            <div class="collapse" id="collapseForm{{ comment.id }}{{ request.user.id }}">
                                <div class="card card-body">

                                    <form method="post" action="{% url 'news:edit_comment' post.slug comment.pk  %}" role="form"
                                          class="form-row align-items-center">
                                        {% csrf_token %}
                                        <div class="col-md-10">
                                            {{ form }}
                                        </div>
                                        <button type="submit" class="btn btn-success"
                                                style="background-color: #86c441; border-color: #86c441">
                                            Add comment
                                        </button>
                                    </form>

                                </div>




                            <a href="{% url 'news:edit_comment' post.slug comment.pk %}"
                               class="btn btn-outline-success"
                               type="button">Edit comment</a>
                            <a href="{% url 'news:delete_comment' post.slug comment.pk %}"
                               class="btn btn-outline-success"
                               type="button" style="border-color: #86c441">Delete comment</a>
                        {% endif %}

                        {% if comment.replies.all %}
                            {% for reply in comment.replies.all %}
                                <div class="media mt-3">
                                    <a class="mr-3" href="#">
                                        {% if reply.user.image %}
                                            <img src="{{ reply.user.image.url }}"
                                                 class="mr-3 img img-thumbnail img-responsive rounded-circle"
                                                 style="width: 60px">
                                        {% else %}
                                            <img src="{% static '/img/user_empty_photo.jpg' %}"
                                                 class="mr-3 img img-thumbnail img-responsive rounded-circle"
                                                 style="width: 60px">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <div class="mb-1 mt-1">
                                            {{ reply.text }}
                                            <br>
                                            <small>{% if reply.user.firstname and reply.user.lastname %}
                                                {{ reply.user.firstname }}
                                                {{ reply.user.lastname }}{% else %}{{ reply.user }}{% endif %}
                                                - {{ reply.created }}</small>
                                        </div>
                                        <div>
                                            {% if reply.user == request.user %}
                                                <a href="{% url 'news:edit_comment' post.slug reply.pk %}"
                                                   class="btn btn-outline-success" type="button"
                                                   style="border-color: #86c441">Edit comment</a>
                                                <a href="{% url 'news:delete_comment' post.slug reply.pk %}"
                                                   class="btn btn-outline-success" type="button"
                                                   style="border-color: #86c441">Delete comment</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

        {% endfor %}

    {% endif %}

</div>